body{
    background-color: grey;
    user-select: none;
}

h1{
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 1px 5px black;
}

.card{
    display: flex;
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 40em;
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
}

.hand{
    font: 1em sans-serif;
}

.front, .back{
    overflow: scroll;
    height: 50%;
}

.front{
    text-decoration: underline;
    font-size: 4em;
    
}

.back{
    font-size: 2.5em;
    letter-spacing: 1px;
    width:70%;
}

button{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

ul{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    margin-left: 5em;
    margin-right: 5em;
    
}


li{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 10em;
    background-color: azure;
    margin: 5px;
    transition: transform 0.3s;
    overflow:scroll;
    border: 2px solid gray;
    font-size: small;

}

li:hover{
    transform: scale(3);
    

}