body{
    background-color: #E0EEFB;
    user-select: none;
}

h1{
    text-align: center;
    color: #422800;
    font-size: 4em;
}

.card{
    display: flex;
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 40em;
    background-color: #fbeee0;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 2px solid #422800;
    box-shadow: #422800 4px 4px 0 0;
}



.front, .back{
    overflow: scroll;
    height: 50%;
}

.front{
    text-decoration: underline;
    font-size: 4em;
    
}

.back{
    font-size: 2.5em;
    letter-spacing: 1px;
    width:70%;
}

button{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

ul{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    margin-left: 5em;
    margin-right: 5em;
    
}


li{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 10em;
    background-color: #fbeee0;
    margin: 5px;
    transition: transform 0.3s;
    overflow:scroll;
    border: 2px solid #422800;
    font-size: small;
    box-shadow: #422800 4px 4px 0 0;

}

li:hover{
    cursor: pointer;
    transform: scale(3);
}

.btns{
    display: flex;

}

button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 20px;
}

button:hover {
  background-color: #fff;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  button {
    min-width: 120px;
    padding: 0 25px;
  }
}

hr{
    border: 3px solid #422800;
}

#acronym-card > h2{
    font-size: 3em;
}

@media  (min-width:320px) {
    .btns{
        flex-direction: column;
    }
    button{
        width: 90%;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .prev-btn-phone{
        order: -1;
    }
    .next-btn-phone{
        order: -2;
    }
    .card{
    height: 10em;
    width: 20em;
    font-size: 1em;
    }
}